:root {
  // 網頁背景色
  --universallayout-bg-color: #FFFFFF;
  // 網頁字體色
  --universallayout-color: rgba(0,0,0,.85);
  // 主視窗背景色
  --universallayout-main-bg-color: #f0f3f4;

  // 菜單
  --universallayout-menu-collapsed-width: @menu-collapsed-width;
  --universallayout-menu-bg-color: #001529;
  --universallayout-submenu-bg-color: #000c17;
  --universallayout-menu-color: rgba(255,255,255, 0.65);
  --universallayout-menu-higlight-bg-color: @primary-color;
  --universallayout-menu-highlight-color: #FFFFFF;


  // 頭部高度
  --universallayout-header-height: 48px;
  // 左邊寬度
  --universallayout-left-side-bar-width: 200px;
  // 頭部Tab導航高度
  --universallayout-header-tab-nav-height: 36px;

}
