// Menu
@menu-collapsed-width: 54px;

// dark theme
@menu-dark-bg: #222834;


// 主視窗背景色
@mainBgColor: #f0f3f4;
// 左邊寬度
@leftSideBarWidth: 200px;
// 頭部高度
@headerHeight: 50px;
// 頭部下方麵包屑高度
@headerBreadcrumbHeight: 34px;
// 頭部麵包屑下tab導航高度
@headerTabNavHeight: 36px;